<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </thead>
        <tbody>
            {% for users in all_users %}
                <tr>
                    <td>{{users.id}}</td>
                    <td>{{users.first_name}} {{users.last_name}}</td>
                    <td>{{users.email_address}}</td>
                    <td>{{users.age}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <h1>Add a User</h1>
    <form action="/process" method="post">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <label for="email_address">Email</label>
        <input type="email_address" name="email_address" id="email_address">
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
    <button>Add</button>
    </form>
</body>
</html>